table {
  width: 100%;
  .linkProduto {
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 0;
  }
  .acao1 {
    color: var(--roxo);
  }
  .acao2 {
    color: var(--amarelo);
  }
  .acao3 {
    color: var(--vermelho);
  }
  #header {
    background-color: var(--roxo);
    th {
      color: #fff;
      text-align: center;
    }
  }
  td {
    text-align: center;
  }
  tr {
    background-color: #ebd2ec;
  }
  tr:hover {
    transition: all 0.5s ease;
    background-color: var(--amarelo);
    .acao2 {
    color: #fff;
    }
  }
}



@media (max-width: 920px) {
  .acao1, .acao2, .acao3, .btn1, .btn2, .btn3 {
    padding: 0 5px !important;
  }
  #columnAcao {
  padding: 0 !important;
  margin: 0 !important;
}
}