h1 {
  text-align: center;
}
section {
  display: flex;
  justify-content: center;
  align-items: center;
    .form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
    .full-width {
      width: 100%;
    }
    #divInfo {
      display: flex;
      justify-content: space-around;
      #dataNascimento {
        margin-right: 20px;
      }
    }
    #divBtns {
      display: flex;
      justify-content: space-around;
        #btnExcluir {
          background-color: var(--amarelo);
          color: white;
        }
        #btnExcluir:hover {
          box-shadow: 0px 0px 10px var(--roxo-claro);
        }
        #btnCancelar {
          background-color: var(--terracota);
          color: white;
        }
        #btnCancelar:hover {
          box-shadow: 0px 0px 10px var(--vermelho);
        }
    }
  }
}

@media (max-width: 605px) {
  h1, section {
    margin-top: 3vh;
  }
}