.header {
  display: flex;
  align-items: center;
  background-color: var(--roxo);
  .logo {
    max-width: 38px;
    color: #fff;
    margin-right: 25px;
  }
  .titulo {
    a {
      display: flex;
      align-items: center;
      text-decoration: none;
      color: #fff;
    }
  }
  .menu {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    .icone {
    display: none;
    }
  }
}

@media (max-width: 1120px) {
  .icone {
    display: block !important;
  }
}