.header {
  display: flex;
  align-items: center;
  background-color: #000;
  .logo {
    max-width: 38px;
    color: #fff;
    margin-right: 25px;
  }
  .titulo {
    a {
      display: flex;
      align-items: center;
      text-decoration: none;
      color: #fff;
    }
  }
}