<h1>Cadastro de clientes</h1>
<section>
  <form class="form">
    <mat-form-field class="full-width" appearance="fill">
      <mat-label>Nome</mat-label>
      <input matInput #nome maxlength="30" placeholder="Ex.: Gabriel" [(ngModel)]="objValues.nome" name="Nome">
      <mat-hint align="end">{{nome.value.length}} / 30</mat-hint>
    </mat-form-field>
    <mat-form-field class="full-width" appearance="fill">
      <mat-label>Sobrenome</mat-label>
      <input matInput #sobrenome maxlength="100" placeholder="Ex.: Schincariol" [(ngModel)]="objValues.sobrenome"
        name="Sobrenome">
      <mat-hint align="end">{{sobrenome.value.length}} / 100</mat-hint>
    </mat-form-field>
    <mat-form-field class="full-width" appearance="fill">
      <mat-label>CPF</mat-label>
      <input matInput mask="000.000.000-00" [(ngModel)]="objValues.cpf" name="Cpf">
    </mat-form-field>
    <mat-form-field class="full-width" appearance="fill">
      <mat-label>Data de nascimento</mat-label>
      <input type="date" matInput [(ngModel)]="objValues.dataNascimento" name="Data de Nacimento">
    </mat-form-field>
    <mat-form-field class="full-width" appearance="fill">
      <mat-label>Profissão</mat-label>
      <mat-select [(ngModel)]="objValues.profissao" name="Profissão">
        <mat-option value="Programador">Programador</mat-option>
        <mat-option value="Analista">Analista</mat-option>
        <mat-option value="Gerente">Gerente</mat-option>
        <mat-option value="Estagiário">Estagiário</mat-option>
        <mat-option value="QA">QA</mat-option>
      </mat-select>
    </mat-form-field>
    <div id="divBtns">
      <button mat-raised-button (click)="cancelar()" id="btnCancelar">Cancelar</button>
      <button mat-raised-button (click)="campoVazio()" id="btnCadastrar">Cadastrar</button>
    </div>
  </form>
</section>