.inicio {
  background-color: var(--roxo);
  color: #fff;
  .title {
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.2;
  }
  .subtitle {
    font-size: 1.1rem;
    color: #fff !important;
  }
  #lista {
    display: flex;
    justify-content: space-between;
    .front {
      color: var(--roxo);
    }
    .back {
      color: var(--amarelo);
    }
    .banco {
      color: var(--terracota);
    }
    .documentacao {
      color: var(--marrom);
    }
  }
  #bibliotecas {
    margin-top: 2vh;
  }
  .links {
    text-decoration: none;
    color: var(--roxo);
    transition: all 0.5s ease;
  }
  .links:hover {
    transition: all 0.5s ease;
    color: var(--amarelo);
  }
}

@media (max-width: 450px) {
  .front, .back, .banco, .documentacao {
    font-size: 12px !important;
  }
}